*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EBBE9B;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0.3);
    font-size: 8vmin;
    background-color: #F5F394;
    color: #502419;
}

#rst_btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #E7A977;
    color: #502419;
    border-radius: 1rem;
   
}

#newGame_btn{
    padding: 1rem;
    font-size: 1rem;
    background-color: #E7A977;
    color: #502419;
    border-radius: 1rem;
}

#msg{
    font-size: 10vmin;
    color: #502419;
}

.msg_container{
    height: 30vmin;
}

.hide{
    display: none;
}